@using WorldNewsApp.Models.News
@model NewsIndexViewModel

<link rel="stylesheet" href="https://use.fontawsome.com/releases/v6.2.0/css/all.css" />

<div class="content_area">
      <div class="main_content floatleft">
        <div class="left_coloum floatleft">
          <div class="single_left_coloum_wrapper">
            <h2 class="title">Latest News</h2>
                @for (var i = 0; i < 3; i++)
                {
                  <div class="single_left_coloum floatleft">
                    <img src="@Model.News[i].Image_Url" alt="Picture is missing"/>
                    <h3>@Model.News[i].Title</h3>
                        <p>@Model.News[i].Description</p>
                  <a class="readmore" href="@Model.News[i].Link">Read More</a> 
                 </div>
                }
          </div>
          <div class="single_left_coloum_wrapper">
            <h2 class="title">Leading News</h2>
            @for (var i = 3; i < 6; i++)
            {
              <div class="single_left_coloum floatleft">
                  <img src="@Model.News[i].Image_Url" alt="Picture is missing" />
                <h3>@Model.News[i].Title</h3>
                    <p>@Model.News[i].Description</p>
              <a class="readmore" href="@Model.News[i].Link">Read More</a> </div>
            }
            </div>
          <div class="single_left_coloum_wrapper single_cat_left">
            <h2 class="title">Daily News</h2>
            @for (var i = 6; i < 10; i++)
            {
              <div class="single_cat_left_content floatleft">
                <h3>@Model.News[i].Title</h3>
                <p>@Model.News[i].Description</p>
                    </div>
            }
          </div>
        </div>
        <div class="right_coloum floatright">
            <form asp-action="Index" id="searchNews" method="get">
                <div class="input-group">
                  <div class="form-outline">
                    <input type="search" id="form1" class="form-control" asp-for="SearchedMessage" placeholder="Search News"/>
                  </div>
                  <button type="submit" class="btn btn-primary" href="/News/Index" style="width: 90px; height: 30px; margin-top: 3px">
                      SEARCH
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>